services:
  - type: web
    name: Power-BI-X-GpsGate
    env: python
    plan: standard
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn wsgi:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.13.4
